<html>
    <head>
        <title>Edit Stylist</title>
    </head>
    <body>
        <h1>Update {{ stylists.getStylistName }}'s name</h1>

        <form action="/stylists/{{ stylists.getId }}" method="post">
            <input name="_method" type="hidden" value="patch">

            <label for="stylist_name">Change stylist's name:</label>
            <input id="stylist_name" name="stylist_name" type="text">

            <button type="submit">Update</button>
        </form>

        <form action="/clients/{{ clients.getId }}" method="post">
            <input name="_method" type="hidden" value="delete">

            <button type="submit">Delete this stylist and all the stylist's clients</button>
        </form>

        <p><a href="/">Home</a></p>
    </body>
</html>
